body {
  
  background-image: url("../images/ambackground.jpg");
  background-size: cover;
  background-repeat:no-repeat;
  background-attachment:fixed;
  font-family:Kristen ITC;
  color:black;
  font-size:18px;}


#header {
	color: fecb9e;
    text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
	text-align:left;
	font-family:Goudy Stout; 
	width:1000px;
	height:110px;
	padding:3px;
	margin-top:30px;
	margin-left:155px;
	background-size:cover;
	background-repeat:norepeat;
}


	
.mainB{
	position:absolute;
	margin-left:70px;
	margin-top:-120px;
	font-size:100px;
	font-family:Goudy Stout;
	font-size:80px;
	color:#1a66ff;
	text-decoration: none;
	text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;}


.mainB:hover{
	color:white;
	text-decoration: underline;}

figure{
	margin-top:100px;
	margin-left:330px;
	width:220px;
	height:230px;}
	
figure:hover{
	transform: scale(1.1);
	}
	
#top{
	margin-top:100px;
	padding:20px 25px;
	margin-left:105px;
	width:600px;
	position:absolute;
	z-index:2;
	}
	
#con1{
	margin-top:-340px;
	margin-left:105px;
	height:880px;
	width:750px;
	position:absolute;
	background-color:7bbec4;
	opacity:0.8;
	z-index:-1;
	}

	
.g0{
	position: fixed;
	margin-left:1100px;
	z-index:2;
	font-size:20px;
	font-family:Arial;
	color:white;
	text-decoration: none;}

.g0:hover {
    text-decoration: underline;}


.g1{
	color: black;
   -webkit-text-fill-color: #141e25; 
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
	float:right;
	margin-top:100px;
	margin-left:970px;
	width: 300px;
	position: fixed;
    background-color: #4CAF50;
    font-size: 20px;
    background-image: url("../images/hob.jpg");
	background-size:cover;
	background-repeat:norepeat;
    padding: 20px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    overflow: hidden;
    cursor: pointer;
	border-radius: 25px;
	z-index:2;
}

.g1:hover{
	transform: scale(1.1);
	}

.g2{
	color: black;
   -webkit-text-fill-color:red;
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
	float:right;
	margin-top:250px;
	margin-left:970px;
	width: 300px;
	position: fixed;
    font-size: 20px;
    background-image: url("../images/int.jpg");
	background-size:cover;
	background-repeat:norepeat;
    padding: 20px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    cursor: pointer;
	border-radius: 25px;
	z-index:2;
}

.g2:hover{
	transform: scale(1.1);
	}
 
	
.g3{
	color: black;
   -webkit-text-fill-color: #141e25; 
   -webkit-text-stroke-width: 1px;
   -webkit-text-stroke-color: black;
	float:right;
	margin-top:400px;
	margin-left:970px;
	width: 300px;
	position: fixed;
    background-color: green;
    font-size: 20px;
    background-image: url("../images/gallery.jpg");
	background-size:cover;
	background-repeat:norepeat;
    padding: 20px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    overflow: hidden;
    cursor: pointer;
	border-radius: 25px;
	z-index:2;
}

.g3:hover{
	transform: scale(1.1);
	}
 
 h1{
	 text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;}
#hobbies{
	margin-left:120px;
	margin-top:930px;
	width:710px;
	position:absolute;
	padding:10px;
	height:300px;
	z-index:1}
.spad{
	width:50px; 
	height:70px;
	z-index:2;
	position:absolute;
	margin-left:400px;
	margin-top:-350px;}

.cpaper{
	width:50px; 
	height:50px;
	z-index:2;
	position:absolute;
	margin-left:470px;
	margin-top:-130px;}
	
.pencil{
	width:60px; 
	height:90px;
	z-index:2;
	position:absolute;
	margin-left:590px;
	margin-top:-320px;}

.ball1{
	width:50px; 
	height:50px;
	z-index:2;
	position:absolute;
	margin-left:-660px;
	margin-top:-270px;}
	
.ball2{
	width:50px; 
	height:50px;
	z-index:2;
	position:absolute;
	margin-left:-610px;
	margin-top:-100px;}
	
.guitar{
	width:60px; 
	height:110px;
	z-index:2;
	position:absolute;
	margin-left:570px;
	margin-top:-230px;}

.notes{
	width:60px; 
	height:90px;
	z-index:2;
	position:absolute;
	margin-left:460px;
	margin-top:-300px;}

.kboard{
	width:60px; 
	height:90px;
	z-index:2;
	position:absolute;
	margin-left:580px;
	margin-top:-400px;}

#con2{
	margin-top:940px;
	margin-left:105px;
	height:1330px;
	width:750px;
	position:absolute;
	background-color:3d6297;
	opacity:0.8;
	z-index:-1;
	}	
	
#interest{
	margin-left:140px;
	margin-top:2630px;
	position:absolute;
	width:700px ;
	height:300px;
	z-index:1;}

.pm{
	width:120px; 
	height:50px;
	z-index:2;
	position:absolute;
	margin-left:530px;
	margin-top:-10px;}

.id{
	width:120px; 
	height:50px;
	z-index:2;
	position:absolute;
	margin-left:3px;
	margin-top:-10px;}

.bt{
	width:40px; 
	height:40px;
	z-index:2;
	position:absolute;
	margin-left:18px;
	margin-top:-200px;}

.cat{
	width:60px; 
	height:60px;
	z-index:2;
	position:absolute;
	margin-left:27px;
	margin-top:-350px;}
	
.doge{
	width:60px; 
	height:60px;
	z-index:2;
	position:absolute;
	margin-left:620px;
	margin-top:-210px;}
#con3{
	margin-top:-770px;
	margin-left:-45px;
	margin-bottom:30px;
	height:820px;
	width:750px;
	position:absolute;
	background-color:eb4f5f;
	opacity:0.8;
	z-index:-1;
	}	

.cn{
	width:50px; 
	height:50px;
	z-index:2;
	position:absolute;
	margin-left:30px;
	margin-top:-550px;}
	
.dxd{
	width:50px; 
	height:50px;
	z-index:2;
	position:absolute;
	margin-left:590px;
	margin-top:-550px;}

.nick{
	width:60px; 
	height:40px;
	z-index:2;
	position:absolute;
	margin-left:600px;
	margin-top:-380px;}
