body {
  
  background-image: url("../images/ambackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family:arial;
  color:black;
  font-size:25px;}


#header {
	color: red;
    text-shadow:
       3px 3px 0 #000,
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;
	text-align:left;
	font-family:Goudy Stout; 
	width:1000px;
	height:110px;
	padding:3px;
	margin-top:30px;
	margin-left:95px;
	background-size:cover;
	background-repeat:norepeat;
}



.personalB{
	cursor: pointer;
	float:right;
	width: 100px;
	height: 100px;
	margin-top:6px;
	padding:10px;
	opacity:0.8;
	color:white;
	font-family: Arial;
	text-align:center;
	margin-right:25px;
	text-decoration: none;
	z-index:1;
	background-image: url("../images/personalB.png");
	background-size:cover;
	background-repeat:norepeat;
}

.personalB:hover{
	opacity:1;
	background-color:white;
	transform: scale(1.1);
	color: #70db70;}
	
.mainB{
	cursor: pointer;
	float:right;
	width: 100px;
	height: 100px;
	padding:10px;
	opacity:0.8;
	color:white;
	font-family: Arial;
	text-align:center;
	text-decoration: none;
	margin-top:-110px;
	margin-right:20px;
	z-index:1;
	background-image: url("../images/mainB.png");
	background-size:cover;
	background-repeat:norepeat;
}

.mainB:hover{
	opacity:1;
	transform: scale(1.1);
	color:#c2c2a3;}

#top{
	margin-top:100px;
	margin-left:105px;
	width:1000px;
	}
	
.g1{
	margin-top:5px;
	margin-left:30px;
    position: fixed;
    background-color: #4CAF50;
    font-size: 20px;
    background-image: url("../images/hob.jpg");
	background-size:cover;
	background-repeat:norepeat;
    padding: 20px;
	color:#141e25;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    overflow: hidden;
    cursor: pointer;
	border-radius: 25px;
	z-index:2;
}

.g1:hover{
	transform: scale(1.1);
	}

.g2{
	margin-top:140px;
	margin-left:30px;
	position: fixed;
    color: red;
    font-size: 20px;
    background-image: url("../images/int.jpg");
	background-size:cover;
	background-repeat:norepeat;
    padding: 20px;
    text-align: center;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    text-decoration: none;
    cursor: pointer;
	border-radius: 25px;
	z-index:2;
}

.g2:hover{
	transform: scale(1.1);
	}
 
figure{
	width:400px;
	height:600px;
}	 
#hobbies{
	margin-left:850px;
	margin-top:560px;
	position:absolute;
	width:700px ;
	height:300px;
	z-index:-1}
	
#interest{
	float:right;
	margin-left:20px;
	margin-top:2030px;
	position:absolute;
	width:700px ;
	height:300px;
	z-index-1;}


