body {
  
  background-image: url("../images/ambackground.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family:Comic Sans MS;
  color:black;
  font-size:25px;}


#header {
	text-shadow: 2px 2px 8px black;
	text-align:left;
	font-family:Goudy Stout; 
	color:#ff3300;
	width:1000px;
	height:110px;
	padding:3px;
	margin-top:30px;
	margin-left:205px;
	background-size:cover;
	background-repeat:norepeat;
}



.personalB{
	cursor: pointer;
	float:left;
	width: 100px;
	height: 100px;
	padding:10px;
	opacity:0.8;
	color:white;
	font-family: Arial;
	text-align:center;
	margin-right:20px;
	text-decoration: none;
	z-index:1;
	background-image: url("../images/personalB.png");
	background-size:cover;
	background-repeat:norepeat;
}

.personalB:hover{
	opacity:1;
	background-color:white;
	transform: scale(1.1);
	color: #70db70;}
	
.mainB{
	cursor: pointer;
	float:right;
	width: 100px;
	height: 100px;
	padding:10px;
	opacity:0.8;
	color:white;
	font-family: Arial;
	text-align:center;
	text-decoration: none;
	margin-top:-120px;
	z-index:1;
	background-image: url("../images/mainB.png");
	background-size:cover;
	background-repeat:norepeat;
}

.mainB:hover{
	opacity:1;
	transform: scale(1.1);
	color:#c2c2a3;}