

.button1 {
	z-index:-1;
	box-shadow: none;}
		
.button3 {
	z-index:-1;}
	
.button4 {
	z-index:2;
	box-shadow: 3px 1px 5px 0  #adad85;}
	
.head{
	margin-top:50px;
	margin-left:70px;
    }
	
.h1{
	font-size:50px;
	font-family:Arial;}
#g1{
	margin-top:120px;
	margin-left:100px;}