 
 body {
  color:14b17c;
  background-image: url("../images/fullback.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: local;}
 
	 
  h1{
  font-family:Georgia;
  color:black;
  font-size:500%;
  margin-left:90px;
  margin-top:90px;
  }
 
 p{
	 font-family:Calibri;
	 color:a69b9a;
	 font-size:20px;}
	 

.button {
	font-family:Calibri;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
	text-decoration: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.button1 {
	font-family:Calibri;
    background-color: #ff1a1a;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
	text-decoration: none;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);}

.button:hover{
	background-color: #e6f3ff;
	color: #4CAF50;}
	
.button1:hover{
	background-color: #e6f3ff;
	color: #ff1a1a;}
	
 figure{
	float: right;
	padding: 10px;
	width: 378px;
	height: 480px;
	margin-top:-380px;
	margin-right:160px;
	 box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);}