body {
  
  background-image: url("../images/infobg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;}
  
#page {

	padding-top:3px;
    max-width: 2040px;
    margin: 10px auto 20px auto;
    background-color:  #333;
}
ul {
    overflow: hidden;
}

li {
    float: left;
	display: block;
	text-align: center;
}

h1{
	font-family:Calibri;
	font-size:30px;
	margin-top:1px;
	margin-left:40px;
	color:white;
}

hold{
	float:right;
	margin-right:20px;
	display:none;}