body {
  
  background-image: url("../images/infobg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family:Calibri;
  color:black;
  font-size:25px;}
  
 hr { 
    display: block;
	colo
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 2px;
} 
  
#header {

	padding:3px 3px;
	position: fixed;
	width:1290px;
    margin: -590px auto 20px auto;
    background-color:  #333;
}

ul {
    overflow: hidden;
}

li {
	
    float: left;
	display: block;
	text-align: center;
	font-size:bold;
	font-family:Calibri;
	font-size:40px;
	margin-top:1px;
	margin-left:10px;
	margin-right:50px;
	color:white;
	
}

li a{
	text-decoration: none;
	font-size:40px;
	color:white;
}

li a:hover{
	font-weight: bold;
	color:black;}



.picture1{
	margin-left:70px;
	position:absolute;
	box-shadow: 10px 10px 5px 0 #888888;
	}
	
.picture2{
	margin-left:90px;
	position:absolute;
	z-index:1;}

.button1 {
	width: 300px;
	font-family:Calibri;
	margin:-370px 0 5px 40px;
    background-color: #ff1a1a;
    border: none;
    color: white;
    padding: 15px;
	list-style-type: none;
	font-size: 20px;
    cursor: pointer;
	text-decoration: none;
    display: block;
	position: fixed;
    text-decoration: none;
	z-index:2}

.button1:hover{
	background-color: #555;}

	
.button2 {
	width: 300px;
	font-family:Calibri;
	margin:-300px 0 5px 40px;
    background-color: #ffe502;
    border: none;
    color: white;
    padding: 15px;
	list-style-type: none;
	font-size: 20px;
    cursor: pointer;
	text-decoration: none;
    display: block;
    text-decoration: none;
	z-index:-1;
	position: fixed;}

.button2:hover{
	 background-color: #555;}
	
	
.button3 {
	width: 300px;
	font-family:Calibri;
	margin:-230px 0 5px 40px;
    background-color: #008941;
    border: none;
    color: white;
    padding: 15px;
	list-style-type: none;
	font-size: 20px;
    cursor: pointer;
	text-decoration: none;
    display: block;
    text-decoration: none;
	position: fixed;
	z-index:-1}

.button3:hover{
	 background-color: #555;}

	
.button4 {
	width: 300px;
	font-family:Calibri;
	margin:-160px 0 5px 40px;
    background-color: #006ba1;
    border: none;
    color: white;
    padding: 15px;
	list-style-type: none;
	font-size: 20px;
    cursor: pointer;
	text-decoration: none;
    display: block;
	position: fixed;
    text-decoration: none;
	z-index:-1}

.button4:hover{
	 background-color: #555;}

#content{
	float:right;
	position:absolute;
	margin: -440px 65px 20px 310px;
	width:900px;
	height:1000px;
    background-color:white;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	padding:20px;
	z-index: 1;}	
	
#group1{
	margin-top:60px;
	margin-left:400px;
	position:absolute;
	width:700px;}

#group2{
	margin-left:70px;
	margin-top:350px;
	position:absolute;
	width:700px;}
	
#group3{
	margin-left:70px;
	margin-top:630px;
	position:absolute;
	width:700px;}
	
.head{
	font-family:arial;
	color:black;
	font-size:40px;
	}

#end{
	float:bottom;
	padding:3px 3px;
	width:1290px;
    margin: 600px auto 0px auto;}
