body {
  
  background-image: url("../images/infobg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;}
  
#header {

	padding:3px 3px;
	width:1290px;
    margin: 10px auto 20px auto;
    background-color:  #333;
}

ul {
    overflow: hidden;
}

li {
	
    float: left;
	display: block;
	text-align: center;
	font-size:bold;
	font-family:Calibri;
	font-size:40px;
	margin-top:1px;
	margin-left:10px;
	margin-right:50px;
	color:white;
	
}

li a{
	text-decoration: none;
	font-size:40px;
	color:white;
}

li a:hover{
	font-weight: bold;
	color:black;}



.picture1{
	margin-left:70px;
	position:absolute;
	box-shadow: 10px 10px 5px 0 #888888;
	}
	
.picture2{
	margin-left:420px;
	margin-top:-320px;
	position:absolute;
	z-index:1;}

.button1 {
	width: 300px;
	font-family:Calibri;
	margin:70px 0 5px 40px;
    background-color: #ff1a1a;
    border: none;
    color: white;
    padding: 15px;
	list-style-type: none;
	font-size: 30px;
    cursor: pointer;
	text-decoration: none;
    display: block;
    text-decoration: none;
	z-index:1}

.button1:hover{
	background-color: #555;}

	
.button2 {
	width: 300px;
	font-family:Calibri;
	margin:1px 0 5px 40px;
    background-color: #ffe502;
    border: none;
    color: white;
    padding: 15px;
	list-style-type: none;
	font-size: 30px;
    cursor: pointer;
	text-decoration: none;
    display: block;
    text-decoration: none;
	z-index:1
	}

.button2:hover{
	 background-color: #555;}
	
	
.button3 {
	width: 300px;
	font-family:Calibri;
	margin:1px 0 5px 40px;
    background-color: #008941;
    border: none;
    color: white;
    padding: 15px;
	list-style-type: none;
	font-size: 30px;
    cursor: pointer;
	text-decoration: none;
    display: block;
    text-decoration: none;
	z-index:1}

.button3:hover{
	 background-color: #555;}

	
.button4 {
	width: 300px;
	font-family:Calibri;
	margin:1px 0 5px 40px;
    background-color: #006ba1;
    border: none;
    color: white;
    padding: 15px;
	list-style-type: none;
	font-size: 30px;
    cursor: pointer;
	text-decoration: none;
    display: block;
    text-decoration: none;
	z-index:1}

.button4:hover{
	 background-color: #555;}

#content{
	float:right;
	position:absolute;
	margin: -320px 65px 0 310px;
	width:900px;
	height:800px;
    background-color:white;
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
	padding:20px;
	z-index: -1;}	

h1{
	font-family:Calibri;
	text-align:right;}