.button1 {
	z-index:-1}
	
.button2 {
	z-index:-1}
	
.button3 {
	z-index:2}
	
.head{
	margin-top:50px;
	margin-left:70px;
    }
	
#g1{
	float:left;
	padding:15px;
	margin-top:20px;
	margin-left:70px;
	width:350px;
	background-image: url("../images/multimedia.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	font-family:Lucida Console;
	color:white; 
	font-size:40px;
	}
		
#g2{
	margin-top:20px;
	padding:13px;
	float:right;
	background-image: url("../images/programming.jpg");
	background-position: right;
	background-size: cover;
	background-repeat: no-repeat;
	margin-right:40px;
	width:350px;
	font-size:40px;
	font-family:Courier New;
	}

#desc1{
	float:left;
    width: 390px;
	padding:5px;
	font-size:25px;
	margin-left:60px;
	margin-top:20px;
}

#desc2{
	float:right;
    width: 390px;
	padding:5px;
	font-size:25px;
	margin-left:60px;
	margin-top : -175px;
}