.button1 {
	z-index:-1;
	box-shadow: none;}
	
.button2 {
	z-index:-1;}
	
.button3 {
	z-index:2;
	box-shadow: 3px 1px 5px 0  #adad85;}
	
.head{
	margin-top:50px;
	margin-left:70px;
    }
	
#desc1{
	float:left;
	font-family:Tahoma;
	font-size:30px;
    width: 700px;
	padding:5px;
	font-size:25px;
	margin-left:80px;
	margin-top:20px;}
	
	
#g1{
	float:left;
	padding:15px;
	margin-top:40px;
	margin-left:90px;
	width:600px;
	background-image: url("../images/multimedia.jpg");
	background-size: cover;
	border:ridge;
	border-color:darkgreen;
	background-repeat: no-repeat;
	font-family:Lucida Console;
	color:white; 
	font-size:40px;
	}
		


#desc2{
	width:900px;
	float:left;
	padding:5px;
	font-size:25px;
	margin-left:110px;
	margin-top:10px;
}

#g2{
	float:left;
	margin-top:30px;
	padding:13px;
	background-image: url("../images/programming.jpg");
	background-position: right;
	background-size: cover;
	background-repeat: no-repeat;
	margin-left:90px;
	width:600px;
	font-size:40px;
	border:ridge;
	border-color:darkgray;
	font-family:Courier New;
	}
	
#desc3{
	width:600px;
	float:left;
    width: 390px;
	padding:5px;
	font-size:25px;
	margin-left:115px;
	margin-top : 20px;
}

#desc4{
	width:600px;
	float:left;
    width: 450px;
	padding:5px;
	font-size:25px;
	margin-left:85px;
	margin-top : 45px;
}